@font-face {
    font-family: 'Calypso';
    src: url('https://ilyaly.github.io/enoa.world.landing.page/public/fonts/Calypso-Regular.woff2') format('woff2'),
        url('https://ilyaly.github.io/enoa.world.landing.page/public/fonts/Calypso-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://ilyaly.github.io/enoa.world.landing.page/public/fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('https://ilyaly.github.io/enoa.world.landing.page/public/fonts/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth
}

header {
    display: flex;
    padding: 32px 128px;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}

.logo {
    display: inline-grid;

}

.credits {
    font-size: 18px;
    font-family: 'EB Garamond';
    color: #808080;

}


a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #B93920;
}

header a {
    color: #000000;
}

header button {
    border: none;
    background: none;
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    color: #000000;
}

header button:hover {
    cursor: pointer;
    color: #B93920;
}


.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'EB Garamond';
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #B93920;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}





#container {
    display: block;
    padding: 16px 128px;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: block;
    width: 100%;
    padding-bottom: 16px;
}

.block-header {
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    color: #B93920;
    padding-top: 32px;
}

.block-items {
    padding-top: 32px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.block-items::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.block-items {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.item {
    height: fit-content;
    min-width: 100%;
    display: flex;
    transition: 1s;
    scroll-snap-align: start;
}

.item-content {
    width: 70%;
    margin-right: 64px;
}

.item-header {
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    padding-bottom: 16px;
}

.item-text {
    min-height: 300px; /*To change up to text */
    font-family: 'EB Garamond';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.item-text p {
    margin-top: 0;
}

.item-action {
    border: 2px solid #B93920;
    background: none;
    padding: 8px 8px;
    border-radius: 4px;
    transition: 0.5s;
    border-radius: 8px;
        
}

.item-action:hover {
    
    background: #B93920;
}

.item-action a {
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #000000; 
    text-decoration: none;
    transition: 0.5s;
}

.item-action a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff; 
}


.item-media {
    /*background-color: #000000;*/
    width: 30%;

}


.item-media img {
    height: 400px;
    object-fit: scale-down;
    width: -webkit-fill-available;
    border-radius: 16px;
    transition: 1s;
}

.item-media img:hover {
    /*transform: skew(0deg, -10deg);*/
    transform: scale3d(0.9, 0.9, 0.9);
}

.block-controls {
    display: flex;
    padding: 32px 32px;
    justify-content: space-evenly;
    align-items: center;
}

.block-controls span {
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    transition: 0.5s;
}

.block-controls span:hover {
    cursor: pointer;
    color: #B93920;
    transform: scale3d(2, 2, 2);

}

.block-controls span:active {
    transform: scale3d(2, 2, 2);
}

.block-control-not-selected {
    color: #000000;
}

/*
.block-control-not-selected:before {
    background: #fff0;
    content: '༺';
}

.block-control-not-selected:after {
    background: #fff0;
    content: '༻';
}
*/

.block-control-selected {
    color: #B93920;
    transform: scale3d(2, 2, 2);
}

/*
.block-control-selected:before {
    background: #fff0;
    content: '༺';
}

.block-control-selected:after {
    background: #fff0;
    content: '༻';
}
*/

footer {
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Calypso';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}

footer a {
    text-decoration: none;
    color: #000000;
}

.resources {
    display: contents;
}

.resource {
    font-family: 'EB Garamond';
    font-size: 20px;
}

.resource:hover {
    cursor: pointer;
}


/* R E S P O N S I V E */

@media screen and (max-width: 820px) {
    header {
        padding: 32px 16px;
        font-size: 40px;
    }

    #container {
        padding: 0px 16px;
    }

    .block {
        padding: 0px 0px
    }

    .block-header {
        font-size: 40px;
    }

    .block-items {
        padding-top: 0;
    }

    .item {
        display: block;
    }

    .item-content {
        width: 100%;
    }

    .item-header {
        font-size: 24px;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .item-text {
        font-size: 20px;
    }

    .item-action {
        width: 100%;
    }

    .item-media {
        width: 100%;
    }

    .block-controls {
        padding: 16px 16px;
    }

    footer {
        display: block;
        padding: 32px 16px;
    }

    .resources {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 16px 0px;
        row-gap: 8px;
    }
}
